/* .sec {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
@media screen and (min-width: 480px) {
  .sec {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 780px) {
  .sec {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.contai {
  height: 60px;
  background: black;
} */
